<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740921606194-ruok0q2ua3dlds2vm353qumvap2raemk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740921606194-ruok0q2ua3dlds2vm353qumvap2raemk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_6hNoL5OeVVN-EyENBmH3yvIlZ0Js0HY</string>
	<key>GCM_SENDER_ID</key>
	<string>740921606194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9f5da</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9f5da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740921606194:ios:a93ed4ce337a024b337c2b</string>
</dict>
</plist>